.main {
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, #e5e4e2 0%, #f0f0f0 100%);
}


.main-content {
    flex-grow: 1;
    order: 1;
    padding: 40px;
    overflow-y: auto;
    background-color: white;
    box-shadow: -1px 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 40px;
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
}

.account-container {
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items: start;
}

.account-info-card, .image-upload-section {
    flex-grow: 1;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
}

.account-info-card:last-child, .image-upload-section:last-child {
    margin-right: 0;
}


.image-upload-section h3 {
    color: #333;
    margin-bottom: 15px;
}

.image-upload-section img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

.image-upload-section input[type="file"] {
    margin-bottom: 15px;
}

.image-upload-section button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.image-upload-section button:hover {
    opacity: 0.8;
}

.account-info-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.account-info-card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.account-info-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}



.right-bar {
    width: 250px;
    background: linear-gradient(to bottom, #fffacd, #f0e68c);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    order: 2;
}

.right-bar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.right-bar li {
    background-color: #fffacd;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.right-bar li:hover {
    background-color: #f0e68c;
}

.right-bar .img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.right-bar .img img {
    max-width: 80%;
    height: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submenu-closed {
    display: none;
}

.submenu-open {
    display: block;
    background: #f9f9f9;
    padding-left: 20px;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    background: #fffacd;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.submenu li {
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fffacd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submenu li:hover {
    background-color: #f0e68c;
}

/* Ukrywanie rozwijanej listy */
.right-bar li + .submenu {
    display: none;
}

.sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    border-right: 2px solid transparent;
    background-image: linear-gradient(#f7f7f7, #f7f7f7), linear-gradient(to right, #00B4DB, #0083B0);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-right: 60px;
}

.login-form {
    margin-right: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fffefe;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}


.login-form h2 {
    text-align: center;
    color: #f0ad4e;
    margin-bottom: 20px;
}


.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0ad4e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #ec971f;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #d9534f;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.success-message {
    color: #80e59e;
    background-color: #7c936e;
    border: 1px solid #40c00c;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.report-container {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item h3 {
    margin-top: 0;
    color: #333;
}

.task-item p {
    margin: 5px 0;
    color: #666;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}

.accept-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.details-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.accept-button, .details-button {
    width: 150px;
    height: 55px;
}

.accept-button:hover, .details-button:hover {
    opacity: 0.8;
}

.menu-closed {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.menu-open {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-textarea {
    height: 150px;
    resize: vertical;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0ad4e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #ec971f;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.offer-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1001;
}

.overlay-hidden {
    display: none;
}

.offer-form h3 {
    color: #333;
    margin-bottom: 15px;
}

.offer-form input[type="text"],
.offer-form input[type="number"],
.offer-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.offer-form textarea {
    height: 100px;
    resize: none;
}

.offer-form button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.offer-form button:hover {
    opacity: 0.8;
}

