.main {
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, #e5e4e2 0%, #f0f0f0 100%);
}


.main-content {
    flex-grow: 1;
    order: 1;
    padding: 40px;
    overflow-y: auto;
    background-color: white;
    box-shadow: -1px 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 40px;
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
}

.account-info-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s;
}

.account-info-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.account-info-card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.account-info-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.right-bar {
    width: 250px;
    background: linear-gradient(to bottom, #fffacd, #f0e68c);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    order: 2;
}

.right-bar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.right-bar li {
    background-color: #fffacd;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.right-bar li:hover {
    background-color: #f0e68c;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}


.login-form {
    padding: 20px;
    border-radius: 5px;
    background-color: #fffefe;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}


.login-form h2 {
    text-align: center;
    color: #f0ad4e;
    margin-bottom: 20px;
}


.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0ad4e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #ec971f;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #d9534f;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.report-container {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item h3 {
    margin-top: 0;
    color: #333;
}

.task-item p {
    margin: 5px 0;
    color: #666;
}