.user-list {
    padding-left: 20%;
    width: 50%;
}

.user-header, .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.user-header {
    background-color: #eee;
}

.user-name-header, .user-score-header, .user-name, .user-score {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.user-item {
    background-color: #f9f9f9;
    border-radius: 4px;
}

.user-item:last-child {
    border-bottom: none;
}

.user-item.gold {
    background-color: gold;
}

.user-item.silver {
    background-color: silver;
}

.user-item.bronze {
    background-color: #cd7f32;
}